################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Tennis-Refactoring-Kata/v15
/packages
/Tennis/obj/Debug
/Tennis/bin/Debug
